body {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
}
img {
    width: 400px;
    height: auto;
    text-align: center;
    display: block;
    margin: 0 auto; 
}
.linea {
    border: none;
    border-top: 2px solid #218838;
    width: 100px;
    margin: 0;
}

.redes-sociales a {
    color: #218838;
    transition: color 0.3s ease;
}

.redes-sociales a:hover {
    color: #155724;
}
